{% extends "base.html"%}

{% block title %}Flask QA - 提问{% endblock %}

{% block content %}
  <!-- 蓝底白字横幅 Start -->
  <div class="breadcrumbs">
    <section class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>提问</h1>
        </div>
      </div>
    </section>
  </div>
  <!-- 蓝底白字横幅 End -->
  <section class="container main-content">
    <div class="row">
      <!-- 左边栏提问表单 Start -->
      <div class="col-md-9">
        <div class="page-content ask-question">
          <div class="boxedtitle page-title"><h2>提问</h2></div>
          <div class="form-style form-style-3" id="question-submit">
            <form>
              <div class="form-inputs clearfix">
                <p>
                  <label class="required">问题标题<span>*</span></label>
                  <input type="text" id="question-title">
                  <span class="form-description">标题</span>
                </p>
              </div>
              <div id="form-textarea">
                <p>
                  <label class="required">问题描述<span>*</span></label>
                  <textarea id="question-details" aria-required="true" cols="58" rows="8"></textarea>
                  <span class="form-description">问题的详细描述</span>
                </p>
              </div>
              <!-- 提交按钮 -->
              <p class="form-submit">
                <input type="button" id="publish-question" value="提交问题" class="button color small submit">
              </p>
            </form>
          </div>
        </div>
      </div>
      <!-- 左边栏提问表单 End -->
      <!-- 右边栏退出登录按钮 Start -->
      <aside class="col-md-3 sidebar">
        <div class="widget">
          <h3 class="widget_title">用户名：{{ current_user.name }}</h3>
          <a href="{{ url_for('front.logout') }}">
            <input type="button" value="退出登录" class="button color small">
          </a>
        </div>
      </aside>
      <!-- 右边栏退出登录按钮 End -->
    </div>
  </section>
  <!-- 提问表单提交按钮指向的路由 -->
  <div id="question-data" url="{{ url_for('question.add_question')}}"></div>
{% endblock %}

{% block footer %}
  <script src="{{ url_for('static', filename='js/ask.js') }}"></script>
{% endblock %}
